@charset "UTF-8";

@media screen and (min-width: 768px) {

    body {
        background-image: url(../imagens/prestadores001.png);
    }

    
    .titulo-3d-real {
        font-size: clamp(1rem, 8vw, 3.5rem);
        font-weight: 900;
        letter-spacing: -1.2px;
        line-height: 0.95;
    }

    .voltar-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1.5rem;
        
      }
      
    
}

